<div class="story-body">
    <h3> Who is Losing the Data?</h3>
      <p>While anyone can be breached, businesses and healthcare organizations are the most affected. While government, education, and financial services have data breaches, they are fewer in number.</p>
    <div id="chart-2"></div>
             <!-- <img src="images/breaches_years.png"/>-->
    <p class="chart-source">Source: Identity Theft Resource Center</p>
</div>
    
<!--<script src="scripts/breach-loss-chart.js"></script>-->
