<div class="story-body">
    <h3>Stolen Records</h3>
    <p>Account numbers and Social Security numbers are the most commonly targeted pieces of information, even at healthcare organizations.
       </p>
    <div id="chart-3"></div>
             <!-- <img src="images/breaches_years.png"/>-->
           <p>Source: <a href="https://www.mass.gov/orgs/office-of-consumer-affairs-and-business-regulation">Office of Consumer Affairs and Business Regulation</a>, 
           Commonwealth of Massachusetts</p>

</div>

<!--
   <script src="scripts/breach-type-chart.js"></script>
-->
       