<div class="story-body">
    <h3>Breaches Rising</h3>
    <p>Each year, there are more data breaches. 2018 was a particularly bad year, but the first half of 2019 already has more breaches than the first half of 2018, and the pace of breaches hasn't slowed down. </p>
    <div id="chart-1"></div>
             <!-- <img src="images/breaches_years.png"/>-->
          <p>Source: <a href="https://www.idtheftcenter.org/">Identity Theft Resource Center</a></p>
</div>

<script src="scripts/breach-total-chart.js"></script>
