<div class="story-body">
    <h3>Stolen Records</h3>
    <p>Account numbers and Social Security numbers are the most commonly targeted pieces of information, even at healthcare organizations.
       </p>
    <div id="chart-3"></div>
             <!-- <img src="images/breaches_years.png"/>-->
           <p class="chart-source">Sources: Office of Consumer Affairs and Business Regulation, Commonwealth of Massachusetts</p>

</div>

<!--<script src="scripts/breach-type-chart.js"></script>-->

       