---
headline: "Breaking Records: More Data Breaches"
subhead: "If you are tired of data breach notifications in the mail and news, there's some bad news: More people will be impacted in 2019 than in 2018."
published_date: "July 16, 2019"
site: "http://fr48.github.io"
siteName: "The Lede"
url: "http://fr48.github.io/portfolio"
kicker: "CYBERSECURITY"
author:
    name: "Fahmida Y Rashid"
    url: "http://www.github.com/fr48"
    twitterHandle: "@fahmiwrite"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

<div class="story-body">
  <p>
        2019 is shaping up to be a rough year when it comes to their information being stolen or exposed online. 
      </p>
      <p>
        Practically every person in the United States has been impacted by at least one security incident or data breach. Large retailers, government agencies, universities, and banks: no one seems to be immune.
      </p>
</div>

{{> story/breach-total }}

<div class="story-body">
    <p> Any company or organization can get breached, because every organization has information that is valuable to someone. While breaches at businesses, such as 
      retailers, hotels, and restaurants have dominated the new over the past five years, there have been a number of bad healthcare-related breaches 
      in recent years.
    </p>
</div>
    
{{> story/breach-loss }}

<div class="story-body">
      <h2>What Has Been Stolen</h2>
      <p>Different states have different rules about breach notifications. Massachusettes is among the few states that require organizations to be explicit about what types of information have been compromised. 
      Social Security numbers are by far the most common pieces of data exposed in 2018 and 2019. More SSN were stolen in the first half of 2019 than the first half of 2018.</p>
       <p>Account numbers -- not just bank accounts, but rewards programs, frequent flier miles, and billing information at other ecommerce sites -- are also higly sought for. 
         There were more breaches that exposed payment cards -- credit and debit cards -- than in previous years.  Interestingly, more drivers license numbers were stolen in the first half of 2019 than all of 2018.
        </p>
</div>

{{> story/breach-type }}

   <div class="story-body">
      <h2>Breach Fatigue Sets In</h2>
 <p>Every week, there is a new report about a data breach. Sometimes, it's cybercriminals breaking into organizations to steal data and other times it's nation-state spies intent on collecting information for their espionage games. Many times, it's a simple matter of the company losing the data (say, a laptop holding a spreadsheet) rather than someone nefarious thief. There are also times when the organization forgot to protect the information and left it on the Internet for any curious person to find. Then there are times when we simply don't know what happened. But whatever the reason, most American adults have been affected at least once by a data breach over the past few years. And for many, they have become resigned and no longer may be as concerned with a breach.
      </p> 
</div>

