---
headline: "Data Visualizations"
subhead: "Projects from The Lede, 2019"
published_date: "October 11, 2019"
site: "http://fr48.github.io/"
siteName: "Storytelling with Data Portfolio"
url: "http://fr48.github.io/portfolio"
kicker: "Storytelling with Data"
author:
    name: "Fahmida Y Rashid"
    url: "http://www.github.com/fr48"
    twitterHandle: "@fahmiwrite"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Charts are exactly the same.
-->


<div class="story-body">
    <p>A selection of data visualization projects created as part of The Lede, 2019
      </p>
      <ul>
        <li>Illustrator Demo: Using ai2html and Illustrator to create responsive graphics</li>
        <li>Data Breaches: Creating bar charts, grouped bar charts, and line charts in d3</li>
      </ul>
      <p>Please use above navigation menu.</p>

</div>
